@font-face {
  font-family: 'JetBrainsMono';
  src: url('./assets/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'JetBrainsMono', monospace;
}
body {
  background-color: black;
  color: white;
}

button, input {
  padding: 0.3em 0.6em;
  border: 1px solid #ccc;
}
button {
  font-size: 0.9em;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: .75rem;
  transition: 300ms;
}
button:hover {
  color: black;
  background-color: white;
}

.hidden {
  display: none !important;
}

.reminder-container {
  display: flex;
  align-items: center;
}
.item {
  margin-left: 1em;
}

#reminders-container {
  display: flex;
  flex-direction: column;
}

#new-input {
  border-radius: .5rem;
}
#new-input:focus {
  outline: none;
}